@model PresupuestoSite.Models.UnidadFiscalizadora

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="divPasoIni">
        @Html.Partial("_TablaLineaGastoObjetoPartial")
    </div>
    <div id="divPasoUnoLinea" class="container-fluid alert alert-dismissible alert-info" style="display:none">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <h5 class="text-primary">Información General</h5>
            <div class="mb-2 d-flex flex-row-reverse">
                <div class="mt-2">
                    <button id="btnpasoBackUno" class="btn btn-dark"><i class="fa fa-solid fa-arrow-left text-white text-white"></i> Atrás</button>
                </div>
                <div class="mt-2">
                    <button id="btnExitPasoUno" class="btn btn-info text-white" data-bs-dismiss="offcanvas"><i class="fa fa-regular fa-home"></i> Salir</button>&nbsp;&nbsp;
                </div>
            </div>
            <br />
            <br />
            <fieldset class="mx-3 mb-3">
                <div id="divLineaG" class="row border border-white border-2 rounded">
                    <h5 class="text-info mb-3 mt-2">Línea</h5>
                    <div class="col-md-1 mt-2 col-sm-12 form-group">
                        <label for="inpPresupAnLinea" class="form-label" title="Presupuesto - Año">Presupuesto</label>
                        <input type="number" max="3000" id="inpPresupAnLinea" class="form-control" readonly disabled="" />
                    </div>

                    <div class="col-md-3 form-group mt-2">
                        <label for="inpCodPresupuestario" id="lbinpCodPresupuestario" class="form-label" title="Código Presupuestario">Código Presup.</label>
                        <input type="text" class="form-control cs-CodPresupuestario is-valid cs-line-gasto" id="inpCodPresupuestario">
                    </div>
                    <div class="col-md-8 form-group mt-2">
                        <label for="inpDescripcion" class="form-label">Descripción&nbsp;Línea</label>
                        <input type="text" class="form-control cs-CodPresupuestario is-valid cs-line-gasto" id="inpDescripcion">
                    </div>
                    <div class="col-md-4 form-group mt-2">
                        <label for="inpContrato" id="lbinpContrato" class="form-label" title="Contrato Número">Contrato #</label>
                        <div id="divinpCodPresupuestario" class="input-group mb-2">
                            <input type="text" class="form-control cs-Contrato is-valid cs-line-gasto" id="inpContrato">
                        </div>
                    </div>
                    <div class="col-md-8 form-group mt-2">
                        <label for="inpProveedor" id="lbinpProveedor" class="form-label" title="Proveedor">Proveedor</label>
                        <div id="divinpProveedor" class="input-group mb-2">
                            <input type="text" class="form-control cs-Proveedor is-valid cs-line-gasto" id="inpProveedor">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2 is-new-record">
                        <label for="inpRegCrePor" class="form-label">Registrado Por</label>
                        <input type="text" class="form-control" id="inpRegCrePor" readonly disabled="">
                    </div>
                    <div class="col-md-3 mb-2 is-new-record">
                        <label for="inpRegCreacionFecha" class="form-label">Registrado En</label>
                        <input type="text" class="form-control" id="inpRegCreacionFecha" readonly>
                    </div>
                    <div class="col-md-3 mb-2 is-new-record">
                        <label for="inpRegModPor" class="form-label">Modificado Por</label>
                        <input type="text" class="form-control" id="inpRegModPor" readonly disabled="">
                    </div>
                    <div class="col-md-3 mb-2 is-new-record">
                        <label for="inpRegModifFecha" class="form-label">Modificado En</label>
                        <input type="text" class="form-control" id="inpRegModifFecha" readonly disabled="">
                    </div>
                    <div class="col-md-6 mb-2 mt-2 is-new-record">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="ckEstadoLinea" checked>
                            <label class="form-check-label" for="ckEstado">¿Registro Activo?</label>
                        </div>
                    </div>
                    <input type="hidden" id="inpID" />
                </div>
            </fieldset>
        </div>
        <div class="d-flex flex-row-reverse">
            <div class="mt-1" style="display: block !important">
                <button id="btnCrearLineaG" class="btn btn-success"><i class="fas fa-plus text-white"></i> Crear Unidad</button>
            </div>
            <div class="mt-1" style="display:block !important">
                <button id="btnEditLineaG" class="btn btn-success"><i class="far fa-edit text-white"></i> Editar</button>
            </div>

        </div>

    </div>
    <div id="divPasoMovimiento" style="display:block">
        @Html.Partial("_TablaLineaGastoObjetoMovPartial")
    </div>
    <div id="divPasoDosLinea" class="container-fluid alert alert-dismissible alert-info divOpcionesLinea" style="display:none">
        <div class="row">
            <div class="d-flex flex-row-reverse">
                <i class="fa-solid fa-person-through-window"></i>
                <div class="mt-1" style="display:none !important">
                    <button id="btnEdit" class="btn btn-success"><i class="far fa-edit text-white"></i> Editar</button>
                </div>&nbsp;&nbsp;
                <div class="mt-1">
                    <button id="btnBackPasoDos" class="btn btn-dark"><i class="fa fa-solid fa-arrow-left text-white text-white"></i> Atrás</button>
                </div>
                <div class="mt-1">
                    <button id="btnExitPasoDos" class="btn btn-info text-white" data-bs-dismiss="offcanvas"><i class="fa fa-regular fa-home"></i> Salir</button>&nbsp;&nbsp;
                </div>
            </div>
            <h5 class="text-primary">
                Componente Línea Gasto Objeto
            </h5>
            <br />
            <br />
            <div>
                @Html.Partial("_LineaGastoObjetoPasoUnoPartial")
            </div>
            <div>
                @Html.Partial("_LineaGastoObjetoMovPresupuestoPartial")
            </div>
            <div>
                @Html.Partial("_LineaGastoObjetoMovCuotasPartial")
            </div>
            <div>
                @Html.Partial("_LineaGastoObjetoMovOtrasInfoPartial")
            </div>

        </div>

        <div class="d-flex flex-row-reverse">
            <i class="fa-solid fa-person-through-window"></i>
            <div class="mt-2">
                <button id="btnCrear" class="btn btn-success"><i class="fa fa-thin fa-credit-card text-white"></i> Crear Línea</button>
            </div>
            <div class="mt-2" style="display:none !important">
                <button id="btnEdit" class="btn btn-success"><i class="far fa-edit text-white"></i> Editar</button>
            </div>
        </div>
    </div>
}


