@model PresupuestoSite.Models.UnidadFiscalizadora

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container alert alert-dismissible alert-info">
        <hr />
        <div id="divUnidades" class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-4 mb-2">
                <label for="inpCuotaID" class="form-label">Cuota #</label>
                <input type="text" class="form-control" id="inpCuotaID" readonly disabled="">
            </div>
            <div class="col-md-4 form-group">
                <label for="inpPresupuestoAct" id="lbinpPresupuestoAct" class="form-label" title="Presupuesto Actual">De Ley Total</label>
                <div id="divinpPresupuestoAct" class="input-group mb-2">
                    <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                    <input type="text" class="form-control cs-PresupuestoAct" id="inpPresupuestoAct" readonly disabled="">
                    @*<div class="invalid-feedback">Requerido!</div>*@
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <label for="inpCuotaTot" id="lbinpCuotaTot" class="form-label">Cuota</label>
                <div id="divinpCuotaTot" class="input-group mb-2">
                    <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                    <input type="text" class="form-control" id="inpCuotaTot" readonly disabled="">
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <label for="inpCompromisoTot" id="lbinpCompromisoTot" class="form-label">Comprometido</label>
                <div id="divinpCompromisoTot" class="input-group mb-2">
                    <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                    <input type="text" class="form-control" id="inpCompromisoTot" readonly disabled="">
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label for="inpCompromisoUni" id="lbinpCompromisoUni" class="form-label">Compromiso</label>
                <div id="divinpCompromisoUni" class="input-group mb-2 has-success">
                    <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                    <input type="text" class="form-control is-valid cs-montos cs-Compromiso" id="inpCompromisoUni" autocomplete="off">
                    @*<div class="invalid-feedback">Requerido!</div>*@
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label for="inpSaldo" id="lbinpSaldo" class="form-label">Saldo Disponible</label>
                <div id="divinpSaldo" class="input-group mb-2">
                    <span class="input-group-text custon-btn-link"><i class="colon-sign text-success"></i></span>
                    <input type="text" class="form-control" id="inpSaldo" readonly disabled="">
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <label for="inpFecha" maxlength="80" class="form-label opc-date-format" title="Fecha">Fecha</label>
                <input type="date" class="form-control" id="inpFecha">
            </div>

            <div class="col-md-5">
                <div class="mt-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inpRdoPedidos" value="1" checked>
                        <label class="form-check-label" for="inlineRadio1">Pedido</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inpRdoReservas" value="0">
                        <label class="form-check-label" for="inlineRadio2">Reserva</label>
                    </div>
                </div>
                <input type="text" class="form-control cs-input-text" id="inpCodPedidosReserva" autocomplete="off">
            </div>
            <div class="col-md-3 mb-2 col-sm-12 form-group">
                <label for="sopTipoMovimi" id="lbsopTipoMovimi" class="form-label fw-bold text-capitalize" title="Tipo Movimiento">Tipo Movimiento</label>
                <select id="sopTipoMovimi" class="form-select">
                    <option value="-1">-Seleccione-</option>
                </select>
            </div>
            <div class="col-md-12 form-group">
                <label for="inpLineas" id="lbinpLineas" class="form-label">Línea</label>
                <div id="divinpLineas" class="input-group mb-2 has-success">
                    <input type="text" class="form-control is-valid cs-input-text" id="inpLineas" autocomplete="off">
                    @*<div class="invalid-feedback">Requerido!</div>*@
                </div>
            </div>
            <div class="col-md-12 mb-2 has-success">
                <label for="taDetalles" class="form-label">Nota</label>
                <textarea type="text" rows="2" class="form-control is-valid cs-input-text" maxlength="200" id="taDetalles" autocomplete="off"></textarea>
            </div>
            <div class="col-md-3 mb-2 is-new-record">
                <label for="inpRegCrePor" class="form-label">Registrado Por</label>
                <input type="text" class="form-control" id="inpRegCrePor" readonly disabled="">
            </div>
            <div class="col-md-3 mb-2 is-new-record">
                <label for="inpRegCreacionFecha" class="form-label">Registrado En</label>
                <input type="text" class="form-control" id="inpRegCreacionFecha" readonly>
            </div>
            <div class="col-md-3 mb-2 is-new-record">
                <label for="inpRegModPor" class="form-label">Modificado Por</label>
                <input type="text" class="form-control" id="inpRegModPor" readonly disabled="">
            </div>
            <div class="col-md-3 mb-2 is-new-record">
                <label for="inpRegModifFecha" class="form-label">Modificado En</label>
                <input type="text" class="form-control" id="inpRegModifFecha" readonly disabled="">
            </div>

            @*<div class="col-md-6 mb-2">
            @Html.LabelFor(model => model.ESTATUS_REGISTRO, htmlAttributes: new { @class = "form-check-label" })
            <div class="orm-check form-switch">
                @Html.EditorFor(model => model.ESTATUS_REGISTRO, new { htmlAttributes = new { @class = "form-check-input" } })
                @Html.ValidationMessageFor(model => model.ESTATUS_REGISTRO, "", new { @class = "text-danger" })
            </div>
        </div>*@
            <div class="col-md-6 mb-2 mt-2 is-new-record">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="ckEstado" checked>
                    <label class="form-check-label" for="ckEstado">¿Registro Activo?</label>
                </div>
            </div>
            <input type="hidden" id="inpID" />
        </div>

        <div class="d-flex flex-row-reverse">
            <div class="mt-2">
                <button id="btnCrearUnidadF" class="btn btn-success"><i class="fas fa-plus text-white"></i> Crear Unidad</button>
            </div>
            <div class="mt-2"  style="display:none !important">
                <button id="btnEditUnidadF" class="btn btn-success"><i class="far fa-edit text-white"></i> Editar</button>
            </div>
        </div>
    </div>
}

<div>
    <div class="mb-2 d-flex justify-content-start">
        <button id="btnBack" class="btn btn-info"><i class="fa fa-sharp fa-solid fa-arrow-left"></i> Regresar al Listado</button>&nbsp;
        <button id="btnExit" class="btn btn-warning text-white" data-bs-dismiss="offcanvas"><i class="fa fa-regular fa-home"></i> Salir</button>
    </div>
</div>
